:root {
  --gray-gray-700: #4a5568;
  --gradient-primary-bg: linear-gradient(225deg, #f76680 0%, #57007b 100%);
  --gray-gray-50: #fafafa;
  --gray-gray-900: #1a202c;
  --brand-primary-bg: #57007b;
  --gray-gray-600: #718096;
  --section-background: #f7f7fa;
  --card1-background: #f1f2ff;
  --shade-primary-lite-bg: #e7daed;
  --card2-background: #f0fff7;
  --card3-background: #fff4f4;
  --primary-bg: #f76680;
  --gray-gray-400: #cbd5e0;
  --gray-gray-500: #a0aec0;
  --gray-gray-800: #2d3748;
  --gradient-secondery-bg: linear-gradient(225deg, #f1f1f5 0%, #e4ecf7 100%);
}
