:root{
    --gray-gray-700: #4A5568;
    --gradient-primary-bg: linear-gradient(225deg, #F76680 0%, #57007B 100%);
    --gray-gray-50: #FAFAFA;
     --gray-gray-900: #1A202C;
    --brand-primary-bg: #57007B;
    --gray-gray-600: #718096;
    --section-background: #F7F7FA;
    --card1-background: #F1F2FF;
    --shade-primary-lite-bg: #E7DAED;
    --card2-background: #F0FFF7;
    --card3-background: #FFF4F4;
    --primary-bg: #F76680;
    --gray-gray-400: #CBD5E0;
    --gray-gray-500:#A0AEC0;
    --gray-gray-800: #2D3748;
}