/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
* {
  font-family: Inter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.button {
  font-weight: 600;
  line-height: 14px;
  font-size: 14px;
  border: none;
  color: var(--gray-gray-50);
  border-radius: 5px;
}
.container {
  padding: 0 7.5%;
}
.balloon{
    min-height: 20px;
    min-width: 20px;
    background-image: linear-gradient(225deg, #F76680 0%, #57007B 100%);
    border-radius: 100%;
    position: absolute;
}
.line{
  position: relative;
}
.line::before{
  content: '';
  width: 69px;
  height: 5px;
  background: var(--gradient-primary-bg);
  position: absolute;
  top:-20px;
}