@import url(colors.css);

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
 
  .navbar_logo {
    display: flex;
  }
  .navbar_menu {
    display: flex;
    gap: 48.2px;
    text-transform: capitalize;
    .navbar_menu_item_link {
      color: var(--gray-gray-700);
      font-weight: 500;
      line-height: 25px;
    }
  }
  .navbar_button {
    background: var(--gradient-primary-bg);
    padding: 14px 25px;
  }
}
/*Header*/
.head {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding-top: 64px !important;
  padding-bottom: 92px !important;
  .head_title {
    color: var(--gray-gray-900);
    .head_title_h {
      font-size: 45px;
      font-weight: 300;

      .head_title_h_span2 {
        font-size: 53px;
        font-weight: 800;
      }
    }
    .head_title_desc {
      font-size: 18px;
      font-weight: 400;
      margin-top: 28px;
    }

    .head_button {
      display: flex;
      gap: 75px;
      .head_button_desc {
        background: var(--brand-primary-bg);
        box-shadow: 0px 4px 49px 0px rgba(0, 0, 0, 0.15);
        padding: 19px 30px;
        margin-top: 75px;
      }
    }
    .head_img {
      max-width: 748px;
    }
  }
}
.head_balloon {
  bottom: -36px;
  width: 72px;
  height: 72px;
  left: 483px;
  z-index: -9;
}
/*Services we offer section*/
.services {
  height: 602px;
  background: #f9f9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .services_title {
    padding-top: 46px;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
  }
  .services_slider {
    display: flex;
    gap: 40px;
  }
  .services_card {
    display: flex;
    width: 333px;
    height: 287px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-image: var(--gradient-primary-bg);
    background: #fafafa;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);

    .services_card_container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 38.5px 16px;
      background-color: #fff;
      border-radius: 7px;

      .services_card_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 57px;
        height: 57px;
        background-color: #fff;
        border-radius: 50px;
      }
      .services_card_text_title {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 600;
        line-height: 136.523%;
      }
      .services_card_text_desc {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 162.023%;
        color: var(--gray-gray-600);
      }
    }
  }
}
.services_pagination_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 41px;
  .services_pagination_ghost {
    width: 221px;
    touch-action: none;
  }
  .services_pagination {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .services_pagination_item {
    width: 13px;
    height: 13px;
    border-radius: 50px;
    border: 1px solid var(--gray-gray-400);
  }
  .services_pagination_active_item {
    width: 18px;
    height: 18px;
    border-radius: 50px;
  }
  .services_pagination_slider_numb {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 78px;
    .services_pagination_slider_numb_1 {
      color: var(--gray-gray-500);
    }
    .services_pagination_slider_line_container {
      display: flex;
    }
    .services_pagination_slider_line {
      width: 18px;
      height: 3px;
      background-color: #fff;
    }
    .services_pagination_slider_line_active {
      width: 18px;
      height: 3px;
      background-color: #000;
    }

    .services_pagination_slider_numb_2 {
      color: var(--brand-primary-bg);
    }
  }
}

/*DevSoftware*/
.devsoftware {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 185px;
  .devsoftware_baloon {
    width: 72px;
    height: 72px;
    top: -221px;
    left: 105px;
  }
  .devsoftware_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 535px;
  }
  .devsoftware_text_title {
    color: var(--gray-gray-900);
    font-size: 35px;
    font-weight: 400;
    line-height: 55px;
    margin-bottom: 30px;
    .devsoftware_text_title_span {
      font-weight: 700;
    }
  }
  .devsoftware_text_desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 51px;
    color: var(--gray-gray-600);
  }
  .devsoftware_text_click {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: var(--brand-primary-bg);
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .devsoftware_img_container {
    position: relative;
    .devsoftware_img_btn_container {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9;
      top: 0;
      left: 0;
      .devsoftware_img_play_btn {
        display: flex;
      }
      .devsoftware_img_btn_cover {
        width: 78px;
        height: 78px;
        position: absolute;
        background: rgba(255, 255, 255, 0.43);
        z-index: -1;
        border-radius: 100%;
      }
    }
  }
}
.ourpartners {
  position: relative;
  margin-bottom: 72px;
  margin-top: 167px;
  .ourpartners_desc {
    color: var(--gray-gray-900);
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    margin-top: 167px;

    .ourpartners_desc_span {
      font-weight: 700;
    }
  }
  .ourpartners_balloon {
    width: 72px;
    height: 72px;
    right: 553px;
    bottom: -108px;
  }
  .ourpartners_btn {
    display: flex;
    gap: 28px;
    justify-content: flex-end;
  }
}
/* Company section*/
.companies {
  height: 202px;
  background: var(--section-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
/* Case Studies section*/
.casestudies {
  .casestudies_title {
    margin-top: 89px;
    margin-bottom: 81px;
  }
  .casestudies_container {
    display: flex;
    gap: 35px;
    flex-direction: column;
  }
  .casestudies_card {
    display: flex;
    background: var(--card1-background);
    border: 1px solid var(--shade-primary-lite-bg);
    border-radius: 10px 30px 30px 10px;

    .casestudies_card_img {
      display: flex;
    }
    .green_card {
      background: var(--card2-background);
      border-radius: 10px 30px 30px 10px;
    }
    .purple_card {
      background: var(--card3-background);
      border-radius: 10px 30px 30px 10px;
    }

    .casestudies_card_text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 50px;
      gap: 30px;
      .casestudies_card_text_title {
        font-size: 28px;
        font-weight: 600;
        line-height: 136.023%;
        padding-top: 16px;
      }
      .casestudies_card_text_desc {
        font-size: 14px;
        line-height: 22.683px;
      }
      .casestudies_card_text_next {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 30px;
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        .casestudies_card_text_icon {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .casestudies_pagination {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    margin-bottom: 88px;
    .casestudies_pagination_text {
      font-size: 20px;
      font-weight: 600;
      line-height: 136.523%;
    }
  }
}
/* Devapproach section*/
.devapproach {
  padding-bottom: 97.71px !important;
  padding-top: 71px !important;
  background: var(--section-background);

  .devapproach_card_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding-top: 80px;
    .devapproach_card {
      display: flex;
      align-items: flex-start;
      width: 604px;
      height: 237px;
      gap: 20px;
      border: 1px solid var(--shade-primary-lite-bg);
      background: var(--gray-gray-50);
      padding: 51px 34px;
      .devapproach_card_icon {
        width: 59px;
        height: 56px;
        border-radius: 10px;
        display: flex;
        padding: 12px;
      }

      .devapproach_card_text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .devapproach_card_text_title {
          color: var(--gray-gray-900);
          font-size: 20px;
          font-weight: 600;
          line-height: 136.523%;
        }
        .devapproach_card_text_desc {
          color: var(--gray-gray-700);
          font-size: 14px;
          font-weight: 400;
          line-height: 22.683px;
        }
      }
    }
  }
}
/* Tech Stack section*/
.techstack {
  padding-top: 80px;
}
.techstack_menucontainer_menu {
  margin-top: 38px;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}
.techstack_menucontainer_menu_item {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: var(--gray-gray-900);
}
.techstack_logos {
  display: flex;
  padding: 73px 188px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* Alcaline Works Section */
.alcaline_works_card_content {
  width: 299px;
  height: 159px;
  display: flex;
  flex-direction: column;
  padding: 21px 0 0 21px;
  gap: 15px;
  border-radius: 9px;
  border: 1px solid var(--shade-primary-lite-bg);
  background: var(--base-white, #fff);
  .alcaline_works_card_content_title {
    color: var(--gray-gray-900);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.09px;
  }
  .alcaline_works_card_content_desc {
    color: var(--gray-gray-600, #718096);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.07px;
  }
}
.alcaline_works {
  margin-top: 93px;

  .alcaline_works_responsive{
    display: none;
  }
  .alcaline_works_container {
    margin-top: 88px;
    display: flex;
    align-items: center;
    .alcaline_full_width{
      width: 100%;
      .alcaline_works_line {
        width: 100%;
        height: 2px;
        background: linear-gradient(225deg, #f76680 0%, #57007b 100%);
      }
      
      .alcaline_works_topcontainer {
        display: flex;
        gap: 70px;

        .alcaline_works_topcontainer_card {
          display: flex;
          flex-direction: column;
          align-items: center;
          

          .alcaline_works_topcontainer_bottom_line {
            display: flex;
            align-items: center;
            width: 2px;
            height: 30px;
            background: linear-gradient(225deg, #f76680 0%, #57007b 100%);
            margin-top: 15px;
          }
        }
      }
      .alcaline_works_bottomcontainer {
        display: flex;
        flex-direction: row-reverse;
        gap: 70px;
        .alcaline_works_bottomcontainer_card_bottom {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          .alcaline_works_bottomcontainer_card_content {
            width: 299px;
            height: 159px;
            display: flex;
            flex-direction: column;
            padding: 21px;
            gap: 15px;
            border-radius: 9px;
            border: 1px solid var(--shade-primary-lite-bg);
            background: var(--base-white, #fff);
           
          }
          .alcaline_works_bottomcontainer_top_line {
            display: flex;
            align-items: center;
            width: 2px;
            height: 30px;
            background: linear-gradient(225deg, #f76680 0%, #57007b 100%);
            margin-top: 15px;
          }
        }
      }
    }
  }
}

/*Featured Resources section*/

.resources {
  padding-bottom: 97.71px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
  overflow: hidden;
  .resources_post_container {
    display: flex;
    margin-top: 66px;
    gap: 60px;
    align-items: center;
  }
  .resources_post {
    display: flex;
    flex-direction: column;
    width: 254px;
    height: 315px;
    gap: 20px;
    .resources_post_text_desc {
      color: var(--gray-gray-800);
      font-size: 16px;
      font-weight: 500;
      line-height: 25px;
    }
    .resources_post_more {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      gap: 15px;
      .resources_post_more_text {
        color: var(--brand-primary-bg);
      }
    }
  }
}
/* Hire Top section*/
.hiretopdev {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 99px;
}
.hiretopdev_rect {
  width: 1230px;
  height: 285px;
  border-radius: 20px;
  background: var(--gradient-secondery-bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  .hiretopdev_rect_text_desc {
    font-size: 35px;
    font-weight: 700;
    line-height: 55px;
  }
  .hiretopdev_rect_icon_line {
    background-image: url("../assets/images/lines.png");
    width: 262px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 190px;
  }
  .hiretopdev_rect_icon_btn {
    display: flex;
    width: 262px;
    height: 57px;
    padding: 14px 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border-radius: 5px;
    border: 1px solid var(--base-white, #fff);
    background: var(
      --gradient-danger-bg,
      linear-gradient(225deg, #ffc656 0%, #f16063 100%)
    );
    color: var(--gray-gray-50, #fafafa);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.09px;
  }
}
/* Footer section*/
.footer {
  margin-top: 34px;
  margin-bottom: 82px;
  display: flex;
  justify-content: space-between;
  .footer_logoimpsum {
    margin-bottom: 25px;
    .footer_logoimpsum_text {
      color: var(--gray-gray-600);
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 36px;
    }
  }
  .footer_links {
    .footer_links_title {
      margin-bottom: 19px;
      color: var(--gray-gray-700);
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.09px;
    }
    .footer_links_cont_item_link {
      font-size: 16px;
      font-weight: 400;
      line-height: 236.3%;
      color: var(--gray-gray-600);
    }
  }

  .footer_contact_title {
    color: var(--gray-gray-700);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.09px;
    margin-bottom: 24px;
  }
  .footer_contact_desc {
    color: var(--gray-gray-600);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .number {
    margin-top: 20px;
  }
  .footer_icons {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    .footer_icons_circle {
      width: 34px;
      height: 34px;
      background: #fafafa;
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.footer_line {
  height: 1px;
  width: 100%;
  background: #cbd5e0;
}
.footer_copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 42px;
  margin-top: 34px;
  color: var(--gray-gray-700);
}
@media only screen and (max-width: 640px){
  .services_pagination_container{
    flex-direction: column;
    gap:16px;
    .services_pagination_slider_numb{
      margin-right: 0;
    }
  }
  .head_balloon{
    display: none;
  }
  .navbar{
    display: none;
    width:100%;
  }
  .head{
   flex-direction: column-reverse;
   .head_img img{
    width: 100%;
   }
  }
  .devsoftware{
    flex-direction: column;
    gap: 24px;
    .devsoftware_img_container, img{
      width: 100%;
    }
  }
  .casestudies_card{
    flex-direction: column;
    .casestudies_card_img img{
      width: 100%;
    }
  }
  .techstack_menucontainer_menu{
    flex-wrap: wrap;
  }
  .hiretopdev{
  .hiretopdev_rect{
    flex-direction: column;
    gap: 16px;
    height: auto;
    padding: 24px;
    .hiretopdev_rect_text_desc{
      text-align: center;
    }
  }
  }
  .footer{
    flex-direction: column-reverse;
    gap:24px;
  }
  .alcaline_works{
    display: flex;
    flex-direction: column;
    .alcaline_works_container{
      display: none;
    }
    .alcaline_works_responsive{
      display: flex;
      flex-direction: column;
      align-items: center;
      .alcaline_works_topcontainer_bottom_line {
        display: flex;
        align-items: center;
        width: 2px;
        height: 30px;
        background: linear-gradient(225deg, #f76680 0%, #57007b 100%);
      }
      .alcaline_works_topcontainer_card{
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
      }
    }

  }
}